# **ЗАДАНИЕ.**
<br>
Реализуйте первичный анализ данных о фильмах. Для этого используйте набор данных <b>Dataset1.csv</b>. При выполнении задания выполните следующее.
<br>
1. Cформулируйте три гипотезы и проверьте правильность своих предположений, подробно поясняя как в приведенном выше проекте.
<br>
Чтобы иметь возможность сравнивать фильмы разных лет, необходимо будет преобразовать валовую и бюджетную стоимость в реальные суммы в долларах с точки зрения покупательной способности 2016 года. Для этого используйте индекс потребительских цен (Consumer Price Index, CPI) с поправкой на инфляцию (https://www.usinflationcalculator.com/inflation/consumer-price-index-and-annual-percent-changes-from-1913-to-2008/).
<br>
Посчитайте значения CPI за каждый год с 1913 по 2017 гг включительно. Используя <i>Калькулятор инфляции в США</i> в качестве источника и постройте DataFrame.
<br>
Пример кода представлен в файле <b>Задание.pdf</b>
Полученную таблицу, содержащую CPI, экспортируйте в файл формата *.csv с именем  <font color=blue>Lab1_Фамилия_CPI</font>, например, <font color=blue><i>Lab1_Ivanov_CPI.csv</i></font>
<br>
<font color=green><u>Самостоятельно изучите команду экспорта датафрейма в файл CSV</u></font>:
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html
<br><br>
2. Обработанный датафрейм экспортируйте в файл формата *.csv с именем  <font color=blue>Lab1_Фамилия_группа</font>, например, <font color=blue><i>Lab1_Ivanov_MO-221.csv</i></font>
221.csv

In [35]:
import pandas as pd

Получение информации о датасете:

In [36]:
df =  pd.read_csv(f'C:/Users/1/Jupyter Notebook/data/Dataset1.csv')
df.head (15)

,color,Director_Name,num_Critic_for_reviews,duration,director_Facebook_likes,actor_3_Facebook_likes,actor_2_name,Actor_1_Facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes;
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000;
1,Colour,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0;
2,Colour,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000;
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000;
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0;
5,Colour,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000;
6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0;
7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000;
8,Colour,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000;
9,Colour,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,Adventure|Family|Fantasy|Mystery,...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000;
10,Color,Zack Snyder,673.0,183.0,0.0,2000.0,Lauren Cohan,15000.0,330249062.0,Action|Adventure|Sci-Fi,...,3018.0,English,USA,PG-13,250000000.0,2016.0,4000.0,6.9,2.35,197000;
11,Color,Bryan Singer,434.0,169.0,0.0,903.0,Marlon Brando,18000.0,200069408.0,Action|Adventure|Sci-Fi,...,2367.0,English,USA,PG-13,209000000.0,2006.0,10000.0,6.1,2.35,0;
12,Color,Marc Forster,403.0,106.0,395.0,393.0,Mathieu Amalric,451.0,168368427.0,Action|Adventure,...,1243.0,English,UK,PG-13,200000000.0,2008.0,412.0,6.7,2.35,0;
13,Color,Gore Verbinski,313.0,151.0,563.0,1000.0,Orlando Bloom,40000.0,423032628.0,Action|Adventure|Fantasy,...,1832.0,English,USA,PG-13,225000000.0,2006.0,5000.0,7.3,2.35,5000;
14,Color,Gore Verbinski,450.0,150.0,563.0,1000.0,Ruth Wilson,40000.0,89289910.0,Action|Adventure|Western,...,711.0,English,USA,PG-13,215000000.0,2013.0,2000.0,6.5,2.35,48000;

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   color                       5025 non-null   object
 1   Director_Name               4872 non-null   object
 2   num_Critic_for_reviews      4927 non-null   float64
 3   duration                    4959 non-null   float64
 4   director_Facebook_likes     4872 non-null   float64
 5   actor_3_Facebook_likes      4953 non-null   float64
 6   actor_2_name                4963 non-null   object
 7   Actor_1_Facebook_likes      4968 non-null   float64
 8   gross                       4104 non-null   float64
 9   genres                      4974 non-null   object
 10  actor_1_name                4968 non-null   object
 11  movie_Title                 4974 non-null   object
 12  num_voted_users             4974 non-null   float64
 13   cast_total_facebook_likes  4974 non-null   float64
 14  actor_3_name                4953 non-null   object
 15  facenumber_in_poster        4961 non-null   float64
 16  plot_keywords               4827 non-null   object
 17  movie_imdb_link             4974 non-null   object
 18  num_user_for_reviews        4956 non-null   float64
 19  language                    4961 non-null   object
 20  country                     4971 non-null   object
 21  content_rating              4677 non-null   object
 22  budget                      4494 non-null   float64
 23  title_year                  4869 non-null   float64
 24  actor_2_facebook_likes      4963 non-null   float64
 25  imdb_score                  4974 non-null   float64
 26  aspect_ratio                4654 non-null   float64
 27  movie_facebook_likes;       4974 non-null   object
dtypes: float64(15), object(13)
memory usage: 1.1+ MB

In [38]:
df.columns

Index(['color', 'Director_Name', 'num_Critic_for_reviews', 'duration',
       'director_Facebook_likes', 'actor_3_Facebook_likes', 'actor_2_name',
       'Actor_1_Facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_Title', 'num_voted_users', ' cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes;'],
      dtype='object')

Обработка и редактирование данных:

Редактирую столбцы, чтоб потом было удобнее с ними работать

In [39]:
df = df.rename (
    columns = {
        'movie_facebook_likes;' : 'movie_facebook_likes',
        ' cast_total_facebook_likes' : 'cast_total_facebook_likes'
    }
)

In [40]:
renamed_columns = {}
for column in df.columns:
    renamed_columns[column] = column.lower().strip()
df = df.rename(columns = renamed_columns)

df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

Удаляю неявные дубликаты

In [41]:
def replace_wrong_color (wrong_genres, correct_genre):
    for wrong_genre in wrong_genres:
        df['color'] = df['color'].replace(wrong_genre, correct_genre)

duplicates = ['colour','Color','Colour']
name = 'color'
replace_wrong_color(duplicates, name)

duplicates = [' Black and White',' black and white']
name = 'black and white'
replace_wrong_color(duplicates, name)

In [42]:
df.isna().sum()

color                         18
director_name                171
num_critic_for_reviews       116
duration                      84
director_facebook_likes      171
actor_3_facebook_likes        90
actor_2_name                  80
actor_1_facebook_likes        75
gross                        939
genres                        69
actor_1_name                  75
movie_title                   69
num_voted_users               69
cast_total_facebook_likes     69
actor_3_name                  90
facenumber_in_poster          82
plot_keywords                216
movie_imdb_link               69
num_user_for_reviews          87
language                      82
country                       72
content_rating               366
budget                       549
title_year                   174
actor_2_facebook_likes        80
imdb_score                    69
aspect_ratio                 389
movie_facebook_likes          69
dtype: int64

Удаляю дубликаты

In [43]:
df.duplicated().sum()

45

In [44]:
df = df.drop_duplicates().reset_index(drop=True)

In [45]:
df.duplicated().sum()

0

Заполняю пропуски в столбцах типа string unknown`ами, а типа float средними по режиссёру, если это его первая работа, то заполняю нулями.

In [46]:
columns_to_replace_string =['color',
    'director_name',
    'actor_2_name',
    'genres',
    'actor_1_name',
    'movie_title',
    'actor_3_name',
    'plot_keywords',
    'movie_imdb_link',
    'language',
    'country',
    'content_rating']

columns_to_replace_int =['num_critic_for_reviews', 'duration',
    'director_facebook_likes',
    'actor_3_facebook_likes',
    'actor_1_facebook_likes',
    'gross',
    'num_voted_users',
    'cast_total_facebook_likes',
    'facenumber_in_poster',
    'num_user_for_reviews',
    'budget',
    'title_year',
    'actor_2_facebook_likes',
    'imdb_score',
    'aspect_ratio']

for column in columns_to_replace_string:
    df[column] = df[column].fillna('unknown')

array_directors = df.director_name.unique()

for director in array_directors:
    for column in columns_to_replace_int:
        new_df = df
        new_df[column] = df[column].dropna()

        director_df = new_df.loc[df['director_name'] == director]
        if(director_df[column].count!=0):
            df[column] = df[column].fillna(director_df[column].mean())
        else:
            df[column] = df[column].fillna(0)

df.head(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,color,James Cameron,723.000000,178.000000,0.0,855.000000,Joel David Moore,1000.0,7.605058e+08,Action|Adventure|Fantasy|Sci-Fi,...,3054.000000,English,USA,PG-13,2.370000e+08,2009.000000,936.0,7.9,1.780000,33000;
1,color,Gore Verbinski,302.000000,169.000000,563.0,1000.000000,Orlando Bloom,40000.0,3.094042e+08,Action|Adventure|Fantasy,...,1238.000000,English,USA,PG-13,3.000000e+08,2007.000000,5000.0,7.1,2.350000,0;
2,color,Sam Mendes,602.000000,148.000000,0.0,161.000000,Rory Kinnear,11000.0,2.000742e+08,Action|Adventure|Thriller,...,994.000000,English,UK,PG-13,2.450000e+08,2015.000000,393.0,6.8,2.350000,85000;
3,color,Christopher Nolan,813.000000,164.000000,22000.0,23000.000000,Christian Bale,27000.0,4.481306e+08,Action|Thriller,...,2701.000000,English,USA,PG-13,2.500000e+08,2012.000000,23000.0,8.5,2.350000,164000;
4,unknown,Doug Walker,268.285714,156.857143,131.0,614.714286,Rob Walker,131.0,2.783037e+08,Documentary,...,1294.857143,unknown,unknown,unknown,1.069286e+08,1992.857143,12.0,7.1,2.125714,0;
5,color,Andrew Stanton,462.000000,132.000000,475.0,530.000000,Samantha Morton,640.0,7.305868e+07,Action|Adventure|Sci-Fi,...,738.000000,English,USA,PG-13,2.637000e+08,2012.000000,632.0,6.6,2.350000,24000;
6,color,Sam Raimi,392.000000,156.000000,0.0,4000.000000,James Franco,24000.0,3.365303e+08,Action|Adventure|Romance,...,1902.000000,English,USA,PG-13,2.580000e+08,2007.000000,11000.0,6.2,2.350000,0;
7,color,Nathan Greno,324.000000,100.000000,15.0,284.000000,Donna Murphy,799.0,2.008073e+08,Adventure|Animation|Comedy|Family|Fantasy|Musi...,...,387.000000,English,USA,PG,2.600000e+08,2010.000000,553.0,7.8,1.850000,29000;
8,color,Joss Whedon,635.000000,141.000000,0.0,19000.000000,Robert Downey Jr.,26000.0,4.589916e+08,Action|Adventure|Sci-Fi,...,1117.000000,English,USA,PG-13,2.500000e+08,2015.000000,21000.0,7.5,2.350000,118000;
9,color,David Yates,375.000000,153.000000,282.0,10000.000000,Daniel Radcliffe,25000.0,3.019570e+08,Adventure|Family|Fantasy|Mystery,...,973.000000,English,UK,PG,2.500000e+08,2009.000000,11000.0,7.5,2.350000,10000;

Формирую файл формата csv

In [47]:
df.to_csv(r'C:\Users\1\Jupyter Notebook\data\Lab1_Ovsyannikov_FIT-221.csv', index = False)  

df.isna().sum()

color                         0
director_name                 0
num_critic_for_reviews        0
duration                      0
director_facebook_likes       0
actor_3_facebook_likes        0
actor_2_name                  0
actor_1_facebook_likes        0
gross                         0
genres                        0
actor_1_name                  0
movie_title                   0
num_voted_users               0
cast_total_facebook_likes     0
actor_3_name                  0
facenumber_in_poster          0
plot_keywords                 0
movie_imdb_link               0
num_user_for_reviews          0
language                      0
country                       0
content_rating                0
budget                        0
title_year                    0
actor_2_facebook_likes        0
imdb_score                    0
aspect_ratio                  0
movie_facebook_likes         68
dtype: int64

Получаю реальные значения валовой стоимости и бюджета.

In [48]:
from bs4 import BeautifulSoup
import requests

url="http://www.usinflationcalculator.com/inflation/consumer-price-index-and-annual-percent-changes-from-1913-to-2008/"

r=requests.get(url)
data=r.text
soup=BeautifulSoup(data, 'html.parser')

table=soup.find('table')
rows=table.tbody.findAll('tr');

years=[]
cpis=[]

for row in rows:
   
    year=row.findAll('td')[0].get_text()

    if year.isdigit() and int(year)<2017:
        years.append(int(year))
        cpis.append(float(row.findAll('td')[13].get_text()))
cpi_table=pd.DataFrame({
    "year":years,
    "avg_annual_cpi":cpis
})

cpi_table.head()

cpi_table.to_csv(r'C:\Users\1\Jupyter Notebook\data\Lab1_Ovsyannikov_CPI.csv', index = False)

In [49]:
def get_real_value(nominal_amt,old_cpi,new_cpi):
    real_value=(nominal_amt*new_cpi)/old_cpi
    return real_value


CPI_2016=float(cpi_table[cpi_table['year']==2016]['avg_annual_cpi'])

real_domestic_gross=[]
real_budget_values=[]

for index,row in df.iterrows():
    gross=row['gross']
    budget=row['budget']
    year=row['title_year']
    cpi=float(cpi_table[cpi_table['year']==int(year)]['avg_annual_cpi'])

    real_gross=get_real_value(gross,cpi,CPI_2016)
    real_budget=get_real_value(budget,cpi,CPI_2016)
    real_domestic_gross.append(real_gross)
    real_budget_values.append(real_budget)
    
df['real_domestic_gross']=real_domestic_gross
df['real_budget']=real_budget_values

    
profits=[]
roi_vals=[]

for index,row in df.iterrows():
    profit=row['real_domestic_gross']-row['real_budget']
    budget=row['real_budget']
    num=profit-budget
    den=budget
    
    roi=(num/den)*100
    
    profits.append(profit)
    roi_vals.append(roi)
    
df['profit']=profits
df['roi']=roi_vals

C:\Users\1\AppData\Local\Temp\ipykernel_9512\4176572795.py:6: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  CPI_2016=float(cpi_table[cpi_table['year']==2016]['avg_annual_cpi'])
C:\Users\1\AppData\Local\Temp\ipykernel_9512\4176572795.py:15: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  cpi=float(cpi_table[cpi_table['year']==int(year)]['avg_annual_cpi'])

In [50]:
df.head(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,real_domestic_gross,real_budget,profit,roi
0,color,James Cameron,723.000000,178.000000,0.0,855.000000,Joel David Moore,1000.0,7.605058e+08,Action|Adventure|Fantasy|Sci-Fi,...,2.370000e+08,2009.000000,936.0,7.9,1.780000,33000;,8.507937e+08,2.651368e+08,5.856569e+08,120.888543
1,color,Gore Verbinski,302.000000,169.000000,563.0,1000.000000,Orlando Bloom,40000.0,3.094042e+08,Action|Adventure|Fantasy,...,3.000000e+08,2007.000000,5000.0,7.1,2.350000,0;,3.582208e+08,3.473329e+08,1.088790e+07,-96.865283
2,color,Sam Mendes,602.000000,148.000000,0.0,161.000000,Rory Kinnear,11000.0,2.000742e+08,Action|Adventure|Thriller,...,2.450000e+08,2015.000000,393.0,6.8,2.350000,85000;,2.025981e+08,2.480907e+08,-4.549257e+07,-118.337071
3,color,Christopher Nolan,813.000000,164.000000,22000.0,23000.000000,Christian Bale,27000.0,4.481306e+08,Action|Thriller,...,2.500000e+08,2012.000000,23000.0,8.5,2.350000,164000;,4.684551e+08,2.613385e+08,2.071167e+08,-20.747743
4,unknown,Doug Walker,268.285714,156.857143,131.0,614.714286,Rob Walker,131.0,2.783037e+08,Documentary,...,1.069286e+08,1992.857143,12.0,7.1,2.125714,0;,4.760858e+08,1.829195e+08,2.931663e+08,60.270663
5,color,Andrew Stanton,462.000000,132.000000,475.0,530.000000,Samantha Morton,640.0,7.305868e+07,Action|Adventure|Sci-Fi,...,2.637000e+08,2012.000000,632.0,6.6,2.350000,24000;,7.637218e+07,2.756598e+08,-1.992877e+08,-172.294775
6,color,Sam Raimi,392.000000,156.000000,0.0,4000.000000,James Franco,24000.0,3.365303e+08,Action|Adventure|Romance,...,2.580000e+08,2007.000000,11000.0,6.2,2.350000,0;,3.896268e+08,2.987063e+08,9.092051e+07,-69.561898
7,color,Nathan Greno,324.000000,100.000000,15.0,284.000000,Donna Murphy,799.0,2.008073e+08,Adventure|Animation|Comedy|Family|Fantasy|Musi...,...,2.600000e+08,2010.000000,553.0,7.8,1.850000,29000;,2.210219e+08,2.861734e+08,-6.515148e+07,-122.766438
8,color,Joss Whedon,635.000000,141.000000,0.0,19000.000000,Robert Downey Jr.,26000.0,4.589916e+08,Action|Adventure|Sci-Fi,...,2.500000e+08,2015.000000,21000.0,7.5,2.350000,118000;,4.647818e+08,2.531538e+08,2.116281e+08,-16.403360
9,color,David Yates,375.000000,153.000000,282.0,10000.000000,Daniel Radcliffe,25000.0,3.019570e+08,Adventure|Family|Fantasy|Mystery,...,2.500000e+08,2009.000000,11000.0,7.5,2.350000,10000;,3.378055e+08,2.796802e+08,5.812535e+07,-79.217208

Проверка гипотез:

гипотеза 1. Бюджет средний цветных фильмов выше среднего бюджета чёрно-белых фильмов.

In [51]:
color_df = df.loc[df['color'] == 'color']
bnw_df = df.loc[df['color'] == 'black and white']

mean_df = pd.concat([color_df, bnw_df], axis=0)

result1_df = pd.DataFrame(mean_df.groupby('color')['real_budget'].mean())

result1_df.to_csv(r'C:\Users\1\Jupyter Notebook\data\result1.csv', index = False)  

result1_df.head(2)

                  real_budget
color
black and white  8.079126e+07
color            6.193263e+07

гипотеза не подтвердилась

гипотеза 2. Большую часть комедий сняли в США.

In [52]:
usa_df = df.loc[df['country']=="USA"]
other_df = df.loc[df['country']!="USA"]

usa_comedies = usa_df.groupby(['genres']).apply ( lambda x: ('Comedy' in x)).count()

other_comedies = other_df.groupby(['genres']).apply( lambda x: ('Comedy' in x)).count()

result2_df = pd.DataFrame([[usa_comedies, other_comedies]], ['Count'], ['USA', 'OTHER'])

result2_df.to_csv(r'C:\Users\1\Jupyter Notebook\data\result2.csv', index = False)  

result2_df.head(1)

       USA  OTHER
Count  756    416

гипотеза подтвердилась.

гипотеза 3. Самая высокая медиана по оценке imdb у советских фильмов фильмов.

In [53]:
result3_df = pd.DataFrame(df.groupby('country')['imdb_score'].median()).sort_values(by='imdb_score', ascending=False)

result3_df.head(10)

result3_df.to_csv(r'C:\Users\1\Jupyter Notebook\data\result3.csv')  
result3_df.head(10)

                      imdb_score
country
Kyrgyzstan              8.700000
Libya                   8.400000
United Arab Emirates    8.200000
Egypt                   8.100000
Soviet Union            8.100000
Iran                    7.950000
unknown                 7.914286
Sweden                  7.750000
Brazil                  7.700000
Indonesia               7.600000

Гипотеза не подтвердилась.