In [4]:
import pandas as pd

In [7]:
df = pd.DataFrame({
    "track": ["Kamigata To Boots", "Delayed Because of Accident", "Funiculì funiculà", "Dragons in the Sunset", "Soul People", "Chains","True","Feeling This Way","L’estate","Pessimist"],
    "city": ["Shelbyville", "Springfield", "Shelbyville", "Shelbyville","Springfield", "Shelbyville","Springfield","Springfield","Springfield","Shelbyville"],
    "day": ["Wednesday", "Friday","Wednesday" , "Monday", "Monday", "Friday","Wednesday","Wednesday","Friday","Wednesday"]
})
df.head(10)

                         track         city        day
0            Kamigata To Boots  Shelbyville  Wednesday
1  Delayed Because of Accident  Springfield     Friday
2            Funiculì funiculà  Shelbyville  Wednesday
3        Dragons in the Sunset  Shelbyville     Monday
4                  Soul People  Springfield     Monday
5                       Chains  Shelbyville     Friday
6                         True  Springfield  Wednesday
7             Feeling This Way  Springfield  Wednesday
8                     L’estate  Springfield     Friday
9                    Pessimist  Shelbyville  Wednesday

In [10]:
pd.pivot_table(df, index=["city", "day"], values=["track"], aggfunc=('count')).head()

                       track
city        day
Shelbyville Friday         1
            Monday         1
            Wednesday      3
Springfield Friday         2
            Monday         1